<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />


    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">ADD AND UPDATE YOUR CARD </div>
                <div class="list-group list-group-flush">
                    <body>

                        <div>
                          <form  #userform="ngForm">
                            <label for="prenom">Prenom</label>
                            <input type="text" id="prenom" name="prenom" placeholder="prenom" [(ngModel)]="user.prenom">
                        
                            <label for="nom">Nom</label>
                            <input type="text" id="nom"  name="nom" placeholder="nom"[(ngModel)]="user.nom">
                        
                            <label for="nenfants">Nombre des Enfants</label>
                            <br>
                            <input type="number" id="nenfants"  name="nenfants" placeholder="Nombre des enfants"  [(ngModel)]="user.nombreenfants">
                            <br>
                            <br>
                            <button type="button" class="btn btn-outline-success btn-lg btn-block" (click)="UserCreate(user)" value = "{{editMode ? Update Product':'Add Product '}}">Submit</button>
                          </form>
                        </div>
                        
                        </body>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
            
                <!-- Page content-->
                <div class="container-fluid">
                   
                    <!------------------------------------------------------------------- affichage -->
                    <br>
                    <br>
                    <div class="container">

                        
                     <div class="card mb -5" style="width: 18rem;"  *ngFor = "let item of userdata"  >
                        <ul class="list-group list-group-flush"  >
                          <li class="list-group-item" >Nom : {{item.nom}}</li>
                          <li class="list-group-item">Prenom :{{item.prenom}}</li>
                          <li class="list-group-item">Nombre des Enfants : {{item.nombreenfants}}</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-outline-warning" (click)="editUser(item.id)">UPDATE</button>
                            
                            <button type="button" class="btn btn-outline-danger" (click)="deleteUser(item.id)">DELETE  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg></button>
                         </div>
                        </div>
                        </div>
                    
                    <!--Form popup modal -->
                    
                    
                </div>
            </div>
        </div>
    </body>
</html>
